
.home-page {
    display: flex;
    flex-wrap: wrap;
    width:100%;
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto;
    align-items:center;
    justify-content:space-between;
    margin-right:-15px;
    margin-left:-15px;
    margin-top:1rem!important;
}
   


.col-md-9{
    -ms-flex:0 0 75%;
    flex:0 0 100%;

    position:relative;
    width:100%;
    padding-left: 4rem;
}

.text-center{
    text-align:center!important
}

.flex-wrap{
    flex-wrap:wrap!important
}

.d-flex{
    display:flex!important
}

.card{position:relative;
    display:flex;
    flex-direction:column;
    min-width:0;
    word-wrap:break-word;
    background-color:#fff;
    background-clip:border-box;
    border:1px solid rgba(0,0,0,.125);
    border-radius:.25rem
}
    
.m-2{margin: 2.5rem!important}

.card-img-top{width:100%;border-top-left-radius:calc(.25rem - 1px);border-top-right-radius:calc(.25rem - 1px)}

.card-body{-ms-flex:1 1 auto;flex:1 1 auto;padding:1.25rem}

.card-title{margin-bottom:.75rem}

.card-text:last-child{margin-bottom:0}

.home-page h1 h3{
    color: gray;
    font-family: "Playfair Display", serif;
}
  
.home-page {
    display: flex;
    flex-wrap: wrap;
}

.home-page .card {
    background-color: rgba(128, 128, 128, 0.097);
    width: 31rem;
  }

  .home-page .card-name-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
  
.home-page .card-price {
    color: green;
    font-weight: bold;
}

.home-page button {
    border-radius: 0;
    width: 100%;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
  
.home-page .card-text {
    color: rgb(90, 89, 89);
}
  
.home-page .card img:hover {
    transform: scale(0.985);
}
  
.home-page .card-img-top {
    height: 300px !important;
}