@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&display=swap');


*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
}

a:hover{
  filter: drop-shadow(0px 0px 6px rgba(255, 255, 255, 1));
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
 box-shadow: 0px 5px 10px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 10vh;
  background: rgb(0, 33, 65);
}
.nav_name {
  font-family: 'Baloo Bhai 2', sans-serif;
  font-size: 2.5rem;
}

.nav_menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: 'Baloo Bhai 2', sans-serif;
  gap: 4rem;
  /* z-index: -1;
  filter:blur(500px); */
}
.nav_toggler {
  display: none;
}
.nav_toggler div {
  width: 2.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: rgb(204, 204, 204);
  transition: 0.3s ease-in;
}

.nav #cart-logo {
  padding-top: 7px;
  margin: -2px;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }


@media screen and (max-width: 768px) {
  .nav_toggler {
    display: block;
    cursor: pointer;
  }
  .nav_menu {
    filter:blur(500px);
    
    position: absolute;
    z-index: -1;
    top: 7vh;
    right: 0;
    height: 93vh;
    width: 40vw;
    background: rgb(0, 33, 65);
    opacity: 0.9;
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.10s ease-in;
  }
}
/* Active Class */
.nav_active {
  filter:blur(0px);
  
  z-index: 100;
  transform: translateX(0%);
}

/* Toggle Icon Animation */

.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 5px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -5px);
}

