.welcome {
  height: 90vh;
  width: 100%;
  background-color:black;
  background: url("../src/assets/images/5138228.gif");
  background-repeat: no-repeat;  
  background-size: 100% 100%;
  opacity: 0.85;
  padding: 100px 0;
  overflow: none;
  box-shadow: 0px 0px 20px 0px rgba(13, 2, 134, 0.215);
}

.welcome h2 {
  text-align: center;
  line-height: 100px;
}

.products-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:  column;  
}

.products {
  -ms-flex: 0 0 100%;
  flex: 0 0 105%;
  background: white;
  box-shadow: 0px 0px 20px 0px rgba(13, 2, 134, 0.215);
  margin: 2vh;
  padding: 3vw;
  min-width : 100%;
}

.prod_head {
  text-indent: 2.5vw;
  margin-bottom: 1vh;
  font-weight: 800;
  font-size: 35px;
}

.card_container {
  display: -ms-flexbox !important;
  display: flex !important;
  justify-content: center;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: white;
  background-clip: border-box;
  border: 1px solid lightcyan;
  border-radius: 0.25rem;
  margin: 0.5rem !important;
}

.card-img {
  height: 300px;
  max-width: 28rem;
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.card-title {
  margin-bottom: 0.75rem;
  text-align: center !important;
}

.card-text:last-child {
  margin-bottom: 0;
}

.more-btn {
  align-self: center;
  margin-top: 50%;
}

.view-more-button{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 800;
}

.more-btn button {
  border-radius: 0.25rem;
  border-color: whitesmoke;
  background-color: white;
  cursor: pointer;
  margin-left: 12vw;
  width: 76%;
  font-size: large;
  font-weight: bolder;
  margin-bottom: 5px;
}

.card-name-price {
  padding-top: 3px;
}

.card-name-price button {
  align-items: center;
  background-color: #1D1D1D;
  border-radius: 100px;
  color: white;
  cursor: pointer;
  display: inline-flex;
  font-size: 18px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 255px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  vertical-align: middle;
}

.card-name-price button:hover,
.card-name-price button:focus {
  opacity: 0.8;
  color: white;
}

.card-name-price button:active {
  background: #09223b;
  color: rgb(255, 255, 255, 0.7);
}

.card-name-price button:disabled {
  cursor: not-allowed;
  background: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.3);
}

.heart {
  font-size: 35px;
  color: rgb(124, 118, 118);
  margin-top: 7px;
  width: 31px;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
}

.heart:hover,
.heart-active:hover {
  transform: scale(1.1);
}

.heart-active {
  font-size: 35px;
  color: rgb(192, 39, 39);
  margin-top: 7px;
  width: 70px;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
}

.heart-container {
  height: 5vh;
  width: 100%;
  border-radius: 50%;
  backdrop-filter: blur(20px);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 1;
  opacity: 90%;
}

