@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Baloo Bhai 2", sans-serif;
}

.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 70px;
  padding-left: 50px;
  padding-right: 120px;
  color: black;
  font-weight: 700;
  font-size: larger;
}

.login p {
  color: black;
  font-weight: 200;
  font-size: small;
}

.login a {
  color: black;
  font-weight: 200;
  font-size: small;
  text-decoration: underline;
}

.login h1 {
  padding: 10px;
  font-weight: bolder;
}

.login form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form-input {
  padding: 11px;
}

.form-input input {
  outline: none;
  border: none;
  border-bottom: 2px solid black;
  background: white;
  width: 320px;
  font-size: large;
  color: black;
  font-weight: 700;
}
.form-input i {
  padding: 7px;
}

.button {
  padding: 25px;
  padding-bottom: 15px;
}

.submit-button {
  align-items: center;
  background-color: black;
  border-radius: 100px;
  color: black;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  box-shadow: 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  color: 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  vertical-align: middle;
}

.submit-button:hover,
.submit-button:focus {
  background-color: black;
  color: black;
}

.submit-button:active {
  background: #09223b;
  color: rgb(255, 255, 255, 0.7);
}

.submit-button:disabled {
  cursor: not-allowed;
  background: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.3);
}

#login-image {
  margin-right: 50px;
  margin-bottom: 50px;
}
