.product-container {
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-height: 70vh;
}
.product-image {
  flex: 1;
  max-width: 50vw;
  min-width: 50vw;
  min-height: 70vh;
  border-right: 1px solid black;
  margin-right: 5vw;
}
.product-details {
  flex: 2;
  padding-left: 20px;
}
.product-name {
  font-size: 60px;
  font-weight: 800;
  margin-top: 8vh;
}
.product-price {
  font-size: 30px;
  color: green;
  margin-top: 2vh;
}
.product-description {
  font-size: 20px;
  margin-top: 5vh;
}
.product-quantity {
  font-size: 20px;
  margin-top: 2vh;
}
.add-to-bag-button,
.contact-seller-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 5vh;
  margin-right: 1vw;
  min-width: 17vw;
  cursor: pointer;
}

.product-details{
  min-width: 40vw;
  max-width: 40vw;
  min-height: 70vh;
}