@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Baloo Bhai 2", sans-serif;
}

.register-page {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
}

.register {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 19px;
  padding-left: 100px;
  padding-right: 120px;
  padding-left: 80px;
  color: black;
  font-weight: 700;
  font-size: larger;
}

.register p {
  color: black;
  font-weight: 200;
  font-size: small;
  padding-bottom: 30px;
}

.register a {
  color: black;
  font-weight: 200;
  font-size: small;
  text-decoration: underline;
}

.register h1 {
  padding: 10px;
}

.register form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form-input {
  padding: 11px;
}

.form-input input,
.form-input select {
  outline: none;
  border: none;
  border-bottom: 2px solid black;
  /* background: #f5f9fc; */
  background: white;
  min-width: 27vw;
  font-size: large;
  color: black;
  font-weight: 700;
}

i {
  padding: 7px;
}

.button {
  padding: 25px;
  padding-bottom: 12px;
}

.submit-button {
  align-items: center;
  background-color: black;
  border-radius: 100px;
  color: white;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  vertical-align: middle;
}

.submit-button:hover,
.submit-button:focus {
  background-color: #16437e;
  color: white;
}

.submit-button:active {
  background: #09223b;
  color: rgb(255, 255, 255, 0.7);
}

.submit-button:disabled {
  cursor: not-allowed;
  background: rgba(0, 0, 0, 0.08);
  color: white;
}

#image {
  margin-right: 50px;
  margin-bottom: 50px;
}
