/* @import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"); */
.text-center{
    text-align:center!important
  }
  .list-group:first-child .list-group-item:first-child{border-top-left-radius:.25rem;border-top-right-radius:.25rem}
  .list-group-item:last-child{border-bottom-right-radius:.25rem;border-bottom-left-radius:.25rem}
  .list-group-item-action{width:100%;color:#495057;text-align:inherit}.list-group-item-action:focus,.list-group-item-action:hover{z-index:1;color:#495057;text-decoration:none;background-color:#f8f9fa}.list-group-item-action:active{color:#212529;background-color:#e9ecef}

  .dashboard-menu h4 {
    background-color: #434343 !important;
    color: white;
    padding: 20px 0px;
  }
  .list-group{display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column;padding-left:0;margin-bottom:0}